*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    
}
body{
   min-height: 100vh;
   background: url(Fotboll.jpg) no-repeat;
   background-size: cover;
   background-position: center;
   color: white;
}
.header{
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px 10%;
    width: 100%;
    background:transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header a{
    text-decoration: none;
    color: red;
    font-size: 30px;
    

}
.logo{
    font-weight: 600;
    
}
.nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 450px;
    margin-left: 40px;
}
.nav a:hover{
    color: orangered;
}
.sec{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.sec-middle{
    max-width: 650;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.sec-middle h1{
    font-weight: 700;
    font-size: 50px;
}
.sec-middle p{
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}
.start-btn{
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    transition: 0.5s;
  
    background-color: black;
    color:white ;
} 
.start-btn:hover{
    background-color:red;
    box-shadow: 0 0 10px red;
}  

/*Seconde Page*/

.container{
    text-align: center;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border: 5px solid red;
    border-radius: 10px;
    padding: 10px 10px;
   
}
.next-btn{
    margin-left: 20px;
    padding: 5px 30px;
    background-color: red;
    color: black;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}




