*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    
}
body{
  background-color: black;
  color: white;
  overflow: hidden;
}

.firstStage{
    min-height: 100vh;
   background: url(Fotboll.jpg) no-repeat;
   background-size: cover;
   background-position: center;
   color: white;

}
.firstStage.active{
    filter:blur(50px);
}

.header{
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px 10%;
    width: 100%;
    background:transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header a{
    text-decoration: none;
    color: red;
    font-size: 30px;
    

}
.logo{
    font-weight: 600;
    
}
.nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 450px;
    margin-left: 40px;
}
.nav a:hover{
    color: orangered;
}
.sec{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    left: -50%;
}
.sec-middle{
    max-width: 650;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.sec-middle h1{
    font-weight: 700;
    font-size: 50px;
}
.sec-middle p{
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}
.startBtn{
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    transition: 0.5s;
  
    background-color: black;
    color:white ;
} 
.startBtn:hover{
    background-color:red;
    box-shadow: 0 0 10px red;
}  

/*Seconde Page*/

.container{
    text-align: center;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border: 5px solid red;
    border-radius: 10px;
    padding: 10px 10px;
   
}
.nextbtn{
    margin-left: 20px;
    padding: 5px 30px;
    background-color: red;
    color: black;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}


.counter{
    font-size: 16px;
    font-weight: 600;
}
#result{
    display: none;
}
.informationcontainer{
    width: 400px;
    padding: 20px 20px;
    background: blue;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
    pointer-events: none;
    text-align: center;
}
.informationcontainer h3{
    color: yellow;
    font-size: 50px;
    margin-bottom: 20px;
}
.informationcontainer .btn1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
  
}
.informationBtn{
    background-color: black;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px 5px;
    transition: 0.5s;
    text-decoration: none;
    cursor: pointer;
}
.informationBtn:hover{
    background: red;
    box-shadow: 0 0 10px red;
    border: black;
}
.informationcontainer.active{
    opacity: 1;
    pointer-events: auto;
    
}
.secondPage{
    display: flex;
    height: 100vh;
    width: 200%;
}
.form1.active{
    left: 0;
}

.form1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    left: -50%;
    width: 100%;
    background-color: black;
    z-index: 100;
    transition: .10s ease-in-out;
    transition-delay: .50s;
    
}
.addQuestion{
    border: 2px solid gray ;
    padding: 20px 20px;
    border-radius: 5px;
}
.question-footer{
    display: flex;
    justify-content: space-around;
    padding-top: 20px; ;
    
}
.counter{
    font-size: 20px;
   
}
.nextbtn{
    font-size: 20px;
}
label{
    cursor: pointer;
}




